body {
  font-size: 16px;
  font-family: Georgia;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: pink;
}

ul {
  margin: 0;
  padding: 5px 0;
}

li {
  margin: 0;
  padding: 5px 20px;
  list-style: none;
}

li:hover {
  background-color: hotpink;
}

.filtered .ingredient, .filtered .recipe {
  display: none;
}

.ingredient.also_with_selected, .ingredient.selected, .recipe.selected {
  display: list-item;
}

.ingredient.selected {
  background: yellow;
}

body > div {
  box-model: border-box;
  width: 50%;
  float: left;
  height: 100%;
}

.ingredients_list {
  background-color: pink;
}

.recipes_list {
  background-color: salmon;
  position: fixed;
  right: 0;
  top: 0;
}
