body {
  font-size: 16px;
  font-family: Georgia;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

ul {
  margin: 0;
  padding: 5px 0;
}

li {
  margin: 0;
  padding: 5px 20px;
  list-style: none;
}

li:hover {
  background-color: yellow;
  color: #333;
}

.filtered .ingredient, .filtered .recipe {
  display: none;
}

.ingredient.also_with_selected, .ingredient.selected, .recipe.selected {
  display: list-item;
}

.ingredient.selected {
  background-color: rgb(189, 255, 105);
}

body > div {
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 100%;
}

.ingredients_list {
  background-color: lightblue;
  position: fixed;
  overflow-x: scroll;
  left: 0;
  top: 0;
}

.recipes_list {
  background-color: #6F4E37;
  position: fixed;
  overflow-x: scroll;
  left: 50%;
  top: 0;
  color: ivory;
}

.recipes_list h1 {
  font-size: 1em;
  margin: 0.5em 0;
  font-weight: normal;
}

.recipes_list li {
  padding-bottom: 1em;
}

.ingredients {
  line-height: 1.75;
}

.ingredients span {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2px 5px;
  border-radius: 3px;
  white-space: nowrap;
}

.recipes_list li:hover {
  background-color: rgb(12, 138, 179);
  color: ivory;
}

/* third pane */

.recipe_viewer {
  background-color: ivory;
  position: fixed;
  overflow-x: scroll;
  left: 66%;
  top: 0;
  color: #333;
  width: 34%;
  padding: 20px;
}

body > div {
  -webkit-transition: width 500ms ease, left 500ms ease;
  transition: width 500ms ease, left 500ms ease;
}

.viewing_recipe .ingredients_list {
  width: 33%;
}

.viewing_recipe .recipes_list {
  width: 33%;
  left: 33%;
}

.recipe_viewer {
  left: 100%;
}

.viewing_recipe .recipe_viewer {
  left: 66%;
}
